<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hxl.travel">

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <!-- 电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 打开相机，二维码扫描 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!--读取联系人-->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!--
        android:allowBackup="false"
        避免应用数据泄露的风险，应当在设置 AndroidManifest.xml 文件中配置 android:allowBackup=“false”，
        此时应用程序数据无法被备份和恢复。或者在应用启动时检测手机硬件和网络环境是否改变，如果存在异常则强制退出或重新登录。
        android:supportsRtl="true"
        声明application是否愿意支持从右到左(RTL就是right-to-left 的缩写...)的布局。
    -->
    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="74af75950e7ec9d62880b333b550348c" />

        <activity
            android:name=".ui.activitys.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activitys.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.PersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.SexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.AgeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.EducationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.SearchActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.amap.api.location.APSService"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activitys.WebMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.GroupBuildActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.GroupChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.GroupDeleteMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.ScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.VideoActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:screenOrientation="landscape" />

        <service
            android:name=".ui.service.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.activitys.SelectLocationActivity" />
        <activity android:name=".ui.activitys.MoreScenicActivity" />

        <receiver
            android:name=".ui.service.MusicService$ExitReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".ui.service.MusicService$PlayReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.activitys.FootprintActivity" />
        <activity android:name=".ui.activitys.ScenicDetailsActivity" />
        <activity android:name=".ui.activitys.GroupDetailActivity" />
        <activity android:name=".ui.activitys.AddressLinkerActivity"></activity>
    </application>

</manifest>